.collect {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: row wrap;

    margin-left: 2vw;
}

/* 상단에 위치한 "설문결과" */
.collect-text {
    width: 100%;

    font-size: 2em;
    font-family: "S-CoreDream-6Bold";
    color: rgb(24, 70, 83);
    text-align: left;

    margin: 5vh 0 0 1.5vw;
}

.collect-subtext-btn{
    width: 100%;
}

.collect-subtext {
    /* width: 30%; */
    float: left;
    font-size: 1.3em;
    font-family: "S-CoreDream-3Light";
    font-weight: 600;
    color: rgb(24, 70, 83);
    text-align: left;

    margin: 0.5vh 0 5vh 1.5vw;
}

/* 결과를 볼 수 있는 버튼 */
.collect-btn{
    font-size: 1.1em;
    font-family: "S-CoreDream-6Bold";
    font-weight: 600;
    color: rgb(113, 157, 138);
    background-color: rgb(255, 255, 255);
    box-shadow: 0.3rem 0.3rem rgba(113, 157, 138, 0.2);

    border: none;
    border-radius: 0.3rem;
    padding: 1vh 2vw 1vh 2vw;
    margin: 0 0 8vh 2.5vw;
}

.collect-box {
    position: relative;

    width: 30vw;
    height: 30vh;
    background-color: rgb(250, 247, 237);
    border-radius: 3rem;

    margin: 0 0.5vw 5vh 1vw;
    box-shadow: 0.5rem 0.5rem rgba(113, 157, 138, 0.2);
}

.collect-box .collect-type-name {
    width: 50%;

    color: rgb(113, 157, 138);
    font-size: 1.2em;
    font-family: "S-CoreDream-6Bold";
    font-weight: 600;

    margin: 5vh 0 0 2.5vw;
}

.collect-box .collect-date {
    width: 100%;

    color: rgb(24, 70, 83);
    font-size: 1em;
    font-family: "S-CoreDream-3Light";
    font-weight: 600;

    margin: 0.5vh 0 1vh 2.5vw;
}

.collect-box .collect-result-img {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    width: 40%;
    height: 80%;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25rem;

    margin-top: 3vh;
    margin-right: 1.5vw;
}

.collect-box .collect-result-more {
    font-size: 1.1em;
    font-family: "S-CoreDream-6Bold";
    font-weight: 600;
    color: rgb(113, 157, 138);
    background-color: rgb(255, 255, 255);
    box-shadow: 0.3rem 0.3rem rgba(113, 157, 138, 0.2);

    border: none;
    border-radius: 0.3rem;
    padding: 1vh 2vw 1vh 2vw;
    margin: 16.5% 0 0 2.5vw;
}

.collect-box .collect-result-more:hover {
    color: rgb(255, 230, 171);
    background-color: rgb(113, 157, 138);
}

/*  up button */
.btn_gotop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    outline: none;
    background: none;
    color: #333;
    cursor: pointer;
}
