.developer_intro {
    margin-top: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    /* 세로 scroll bar 제거*/
    overflow-y: hidden;
}

/* 상단 Developer Intro. 문구 */
.developer_intro_text {
    width: 100%;

    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: rgb(24, 70, 83);
}

.developer_intro_text_subtext {
    width: 100%;

    text-align: center;
    font-weight: lighter;
    font-size: 1.2em;
    color: rgb(82, 82, 82);

    margin-top: 0.2vh;
    margin-bottom: 1.5vh;
}

/* member css */
.member {
    width: 18vw;
    height: 55vh;

    background-color: rgba(113, 157, 138, 0.1);
    border-radius: 1.5rem;
    margin: 1.2rem;
}

.member img {
    width: 70%;
    border-radius: 10%;
}

.member .info {
    position: relative;
    width: 100%;

    margin-top: 4.5vh;
    text-align: center;
}

.member .info span {
    font-family: "S-CoreDream-3Light";
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7rem;
    color: black;
}

.github-logo {
    float: left;
    width: 3.5vw;
    height: 3.5vh;

    margin-left: 9vw;
    margin-top: 7.5vh;
}

.facebook-logo {
    float: right;
    width: 3.5vw;
    height: 3.5vh;

    margin-right: 2vw;
    margin-top: 7.5vh;
}
