.login {
    /* 세로 scroll bar 제거*/
    overflow-y: hidden;
}

/* 왼쪽 화면 */
.row1 {
    flex: auto;
    height: 55vh;
    margin-top: 15vh;
    margin-left: 16vw;
    margin-bottom: 5rem;

    background-color: rgb(255, 255, 255);
    box-shadow: 1.5rem 1.5rem rgba(255, 230, 171, 0.5);

    border-top: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-left: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-bottom: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

/* LOGIN */
.login-text {
    margin-top: 5vh;
    margin-bottom: 1vh;
    font-size: 1.6em;
    color: rgb(24, 70, 83);
}

.input {
    width: 70%;
    height: 400px;
}

input[type="id"] {
    color: rgb(24, 70, 83);
}

/* password input 안 보이는 오류 -> 웹 폰트 지원 X */
input[type="password"] {
    font-family: "Malgun gothic", dotum, sans-serif;
}

/* placeholder로 보여지는 폰트 설정 */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Binggrae-Bold", sans-serif;
    color: #888;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #888;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

/* 구글 로그인 버튼 */
.googleLogin {
    display: flex;
    flex: auto;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    width: 100%;
    size: 10rem;
}

.account_text {
    font-size: 1.2em;
    color: rgb(231, 194, 108);
    margin-top: 1.5vh;
    margin-bottom: 2vh;
}

/* 계정이 없을 경우 - no have account? */
.no_have_account {
    display: none;
    font-size: 1.2em;
    color: rgb(231, 194, 108);
    margin-top: 1.2rem;
}

/* 오른쪽 화면 */
.row2 {
    flex: auto;
    height: 55vh;
    margin-top: 15vh;
    margin-right: 16vw;
    margin-bottom: 2rem;

    background-color: rgb(255, 230, 171);
    box-shadow: 1.5rem 1.5rem rgba(255, 230, 171, 0.5);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

/* 오른쪽 화면 텍스트 */
.texts {
    color: rgb(24, 70, 83);
    font-size: 1.4em;
    line-height: 2.2vh;

    margin-top: 18vh;
}

/* 로그인 버튼 */
#go_to_login {
    padding: 1rem;
    margin-top: 4vh;

    background-color: rgb(255, 230, 171);
    color: rgb(113, 157, 138);
    font-size: 1.2em;
}

/* 회원가입 버튼 */
#go_to_signup {
    width: 20vw;
    margin-top: 4vh;
    padding: 1rem;

    background-color: white;
    color: rgb(113, 157, 138);
    font-size: 1.2em;
}

/* 로그인, 회원가입 버튼에 마우스를 올렸을 때 */
#go_to_login:hover,
#go_to_signup:hover {
    background-color: rgb(113, 157, 138);
    color: white;
}
