.login {
    /* 세로 scroll bar 제거*/
    overflow-y: hidden;
}

/* 왼쪽 화면 */
.row1 {
    flex: auto;
    margin-top: 5rem;
    margin-left: 17rem;
    margin-bottom: 2rem;

    background-color: rgb(255, 255, 255);
    box-shadow: 1.5rem 1.5rem rgba(255, 230, 171, 0.5);

    border-top: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-left: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-bottom: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

/* LOGIN */
.text1 {
    margin-top: 3.2rem;
    color: rgb(24, 70, 83);
}

.input {
    width: 70%;
    height: 400px;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

/* 구글 로그인 버튼 */
.googleLogin {
    display: flex;
    flex: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    size: 10rem;
}

.account_text {
    font-size: 1.2em;
    color: rgb(231, 194, 108);
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

/* 계정이 없을 경우 - no have account? */
.no_have_account {
    display: none;
    font-size: 1.2em;
    color: rgb(231, 194, 108);
    margin-top: 1.2rem;
}

/* 오른쪽 화면 */
.row2 {
    flex: auto;
    margin-top: 5rem;
    margin-right: 17rem;
    margin-bottom: 2rem;

    background-color: rgb(255, 230, 171);
    box-shadow: 1.5rem 1.5rem rgba(255, 230, 171, 0.5);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

/* 오른쪽 화면 텍스트 */
.texts {
    color: rgb(24, 70, 83);
    font-size: 1.15em;
    line-height: 1.2rem;

    margin-top: 9.5rem;
}

@media (min-width: 1920px) {
    .row1,
    .row2 {
        margin-top: 15rem;
    }

    .account_text,
    .no_have_account,
    .texts {
        font-size: 1.4em;
    }
}
