.pass_change {
    height: 100%;
    margin-top: 5rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

/* 비밀번호 변경 */
.account {
    font-size: 1.8em;
    color: rgb(24, 70, 83);
    margin-bottom: 2rem;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

@media (min-width: 1920px) {
    .pass_change {
        margin-top: 13rem;
    }

    .account {
        font-size: 2em;
    }
}
