.quit_account {
    margin-top: 9vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* Delete account */
.account {
    font-size: 1.9em;
    text-align: center;
    letter-spacing: 0.07vw;
    color: rgb(24, 70, 83);

    margin-bottom: 4vh;
}

.quitAccount_box {
    width: 58vw;
    height: auto;

    border-radius: 2vw 2vw 2vw 2vw;
    border-top: 0.05rem solid rgba(113, 157, 138, 0.5);
    border-left: 0.05rem solid rgba(113, 157, 138, 0.5);
    border-bottom: 0.05rem solid rgba(113, 157, 138, 0.5);
    box-shadow: 1.5rem 1.5rem rgba(113, 157, 138, 0.5);
}

#quit {
    width: 8vw;
    height: 14vh;
    margin-top: 16vh;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

#id_inputs-quit {
    width: 25vw;
    font-size: 1.1em;

    margin-bottom: 3vh;
}

/* modal css*/
.rodal-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
}

/*  modal text */
.rodal-msg {
    font-family: "S-CoreDream-3Light";
    font-weight: 600;
}

@media (min-width: 1920px) {
    .quit_account {
        margin-top: 14rem;
    }

    .account {
        font-size: 2em;
    }
}
