.body{
    height: 100%;
    z-index: -1;
    background-color: rgb(16, 47, 87);
}
.footer{
    z-index: -1;
    background-color: rgb(16, 47, 87);
}
.input{
    width: 70%;
    height: 400px;
}
.texts{
    color: rgb(16, 47, 87);
    margin-top: 20%;
}

.containerLogin{
    flex:auto;
    width: 70%;
    border-radius: 10%;
}
.signup{
    display: none;
}
.row1{
    flex:auto;
    margin-top: 10%;
    margin-left: 20%;
    /* box-shadow:  5px 7px 7px rgb(182, 182, 182), -5px 7px 7px rgb(182, 182, 182); */
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    margin-bottom: 10%;
}
.row2{
    flex:auto;
    margin-top: 10%;
    margin-right: 20%;
    /* box-shadow:  -5px 7px 7px rgb(182, 182, 182), -5px 7px 7px rgb(182, 182, 182); */
    background-color: rgb(255, 250, 221);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    margin-bottom: 10%;
}

.googleLogin{
    flex:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    size : 10em;
    display: flex;
    /* flex-flow: column wrap; */
}
.text2{
    margin-bottom: 10px;
}
.text1{
    margin-top: 15%;
}
.signupBtn{
    margin-top: 3%;
    width: 40%;
    padding: 2%;
}
@media ( max-width: 550px ) {
    .row2{
        display: none;
    }
    .signup{
        margin-top: 10px;
        display: inline;
    }
    .row1{
        margin-left: 0;
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;
    }
    .col{
        margin-left: 20px;
        margin-right: 20px;
    }
}

