.container {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.type {
    width: 60rem;
    flex-shrink: 0;

    margin-top: 3rem;
    margin-bottom: 1.5rem;

    font-size: 2em;
    text-align: center;
    color: rgb(24, 70, 83);
}

.type-img {
    width: 20rem;
    height: 15rem;
    border-radius: 5rem;

    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 2rem;
}

/* 타입 설명 */
.sub_context {
    width: 25rem;
    height: auto;

    background-color: rgba(239, 234, 215, 0.3);
    padding: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;

    font-size: 1em;
    line-height: 2em;
    text-align: justify;
}
