.container {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.subject_name {
    width: 50vw;
    flex-shrink: 0;

    margin-top: 3rem;
    margin-bottom: 1.5rem;

    font-size: 2.5em;
    text-align: center;
    color: rgb(24, 70, 83);
}

.type-img {
    width: 20rem;
    height: 15rem;
    border-radius: 5rem;

    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 2rem;
}

.main_context {
    font-size: 1.6em;
    margin-bottom: 1.5vw;
}

/* 타입 설명 */
.sub_context {
    width: 25rem;
    height: auto;

    background-color: rgba(239, 234, 215, 0.3);
    padding: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;

    font-size: 1em;
    line-height: 2em;
    text-align: justify;
}

.save_btn,
.main_btn {
    width: 10vw;
    height: 5vh;
    background-color: rgb(24, 70, 83);
    color: white;
    font-size: 1.1em;

    margin: 1vw;
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
}

.save_btn:hover,
.main_btn:hover {
    background-color: rgb(255, 230, 171);
    color: black;
}
