.home {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    /* margin-top: 1rem; */
    margin-bottom: 10rem;

    overflow-x: hidden;
}

.slide {
    flex: auto;
    width: 100%;
    height: 50%;
    align-items: center;
    /* margin-top: 1rem; */
}

/* 원하는 테스트를 골라 시작해보세요! */
.home .text {
    width: 100%;
    font-size: 2.5em;
    color: rgb(24, 70, 83);
    text-align: center;

    margin-top: 6rem;
}

/* test별 img와 img 설명을 담을 box */
.home .test_box {
    position: relative;
    width: 50vw;
    height: auto;

    box-shadow: 1rem 1rem 1rem rgba(160, 160, 160, 0.5);

    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;

    cursor: pointer;
}

/* left에 위치한 img */
.home .test_box .boximg-left {
    float: left;
    margin-right: 2vw;
}

/* right 위치한 img */
.home .test_box .boximg-right {
    float: right;
    margin-left: 2vw;
}

/* 이미지 옆에 위치한 text */
.home .test_box .boxtext_1 {
    font-size: 1.2em;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-right: 2vw;
    text-align: justify;
}

.home .test_box .boxtext_2 {
    font-size: 1.2em;
    margin-top: 10vh;
    margin-bottom: 15vh;
    margin-left: 2vw;
    text-align: justify;
}

/* text 하단에 위치한 hashtag */
.hashtag-left {
    position: absolute;
    font-size: 1em;
    top: 82%;
    left: 2vw;
    color: rgb(24, 70, 83);
}

.hashtag-right {
    position: absolute;
    font-size: 1em;
    top: 82%;
    right: 2vw;
    color: rgb(24, 70, 83);
}

/* 하단에 위치한 Up 버튼 */
.up_to_main {
    width: 10vw;
    height: 5vh;
    background-color: rgb(24, 70, 83);
    color: white;
    font-size: 1.1em;

    margin: 1vw;
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
}

.up_to_main:hover {
    background-color: rgb(255, 230, 171);
    color: black;
}
