.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;

    overflow: hidden;
}

/* 하단에 여백 생기는 부분 제거 */
img {
    margin-bottom: -7px;
}

.slide {
    flex: auto;
    position: relative;
    width: 100%;
    height: 50%;
    align-items: center;
}

.main-content {
    display: block;
    position: absolute;
    /* transform: translateX(50%); */

    width: 100vw;
    height: 90vh;
    z-index: 1;

    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(112, 112, 112, 0.5)
    );
}

.main-content-text {
    float: right;
    width: 30%;
    margin: 26vh 10vw 0 0;
    z-index: 2;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 5rem;
    border-radius: 1rem;

    text-align: justify;
    font-size: 1.3em;
    font-family: "S-CoreDream-3Light";
    font-weight: 600;
}

.go_to_test {
    float: left;
    font-size: 1.3em;
    font-family: "S-CoreDream-6Bold";
    font-weight: 600;
    color: rgb(113, 157, 138);
    z-index: 2;

    border: none;
    border-radius: 0.5rem;
    padding: 1.5vh 4vw 1.5vh 4vw;
    margin: 10vh 0 0 0;
    /* margin: 50vh -12.4vw 0 0; */
    box-shadow: 0.5rem 0.5rem rgba(113, 157, 138, 0.5);
}

.go_to_test:hover {
    color: rgb(255, 230, 171);
    background-color: rgb(113, 157, 138);
    box-shadow: -0.5rem -0.5rem rgba(113, 157, 138, 0.5);
}

@media (min-width: 1360px) {
    .main-content-text {
        font-size: 1em;
    }

    .go_to_test {
        font-size: 0.9em;
    }
}
