.home {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 10rem;

    overflow-x: hidden;
}

.slide {
    flex: auto;
    width: 100%;
    height: 50%;
    align-items: center;
    margin-top: 1rem;
}

/* 원하는 테스트를 골라 시작해보세요! */
.home .text {
    width: 100%;
    font-size: 0.7em;
    color: rgb(24, 70, 83);
    text-align: center;

    margin-top: 6rem;
}

/* 각 박스별 질문 타이틀 */
.home .test_title {
    display: none;
    text-align: center;
    color: rgb(24, 70, 83);
    font-size: 0.45em;
    margin-top: 5.8rem;
}

.home .box:hover .test_title {
    display: block;
}

.home .box {
    width: 32rem;
    height: 25rem;
    background-color: black;

    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    cursor: pointer;
}

.home .box:hover {
    background-color: rgba(255, 215, 121, 0.5);
}

@media (min-width: 1920px) {
    .home .text {
        font-size: 0.9em;
    }

    /* .home .box {

    } */

    .test_title {
        font-size: 0.6em;
        margin-top: 9.5rem;
    }
}
