.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;

    overflow: hidden;
}

/* 하단에 여백 생기는 부분 제거 */
img {
    margin-bottom: -7px;
}

.slide {
    flex: auto;
    position: relative;
    width: 100%;
    height: 50%;
    align-items: center;
}

.main-content {
    display: block;
    position: absolute;
    transform: translateX(50%);

    width: 50vw;
    height: 90vh;
    z-index: 1;

    background-color: rgba(160, 160, 160, 0.5);
}

.content-logo {
    margin: 5vh 0 0 3vw;
}

.main-content-text {
    margin: 1vh 0 0 4.2vw;
    text-align: left;
    font-size: 1.5em;
    font-family: "S-CoreDream-3Light";
    font-weight: 600;
}

.go_to_test {
    float: right;
    font-size: 1.5em;
    color: rgb(113, 157, 138);

    border: none;
    border-radius: 5rem 5rem 5rem 5rem;
    padding: 2vh 4.5vw 2vh 4.5vw;
    margin: 50vh 4.5vw 0 0;
    box-shadow: rgba(160, 160, 160, 0.5);
}

.go_to_test:hover {
    color: rgb(255, 230, 171);
    background-color: rgb(113, 157, 138);
}
