$button: rgb(249, 181, 169); // 주석 선언

.Button {
    display: inline-flex;

    outline: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;

    height: auto;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 15rem;
    padding-right: 15rem;
    margin: 0.5rem;

    background: $button; // 주석 사용
    &:hover {
        background: darken($button, 15%); // 색상 15% 어둡게
    }

    &:active {
        background: lighten($button, 5%); // 색상 5% 밝게
    }
}
