.signup {
    margin-top: 11vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* 회원가입 text */
.join {
    font-size: 1.9em;
    text-align: center;
    font-family: "S-CoreDream-6Bold";
    font-weight: 600;
    letter-spacing: 0.2vw;
    color: rgb(24, 70, 83);

    margin-bottom: 2.5vh;
}

.mini-logo {
    width: 8vw;
    height: 14vh;
    margin-top: 18vh;
}

.sign_box {
    width: 58vw;
    height: auto;

    border-radius: 2vw 2vw 2vw 2vw;
    border-top: 0.05rem solid rgba(113, 157, 138, 0.5);
    border-left: 0.05rem solid rgba(113, 157, 138, 0.5);
    border-bottom: 0.05rem solid rgba(113, 157, 138, 0.5);
    box-shadow: 1.5rem 1.5rem rgba(113, 157, 138, 0.5);
}

/* 왼쪽에 위치한 박스 */
.left-box {
    background-color: white;
    width: 50%;
    height: 50vh;
    float: left;

    text-align: center;
    border-radius: 2vw 0vw 0vw 2vw;
}

/* 오른쪽에 위치한 박스 */
.right-box {
    background-color: rgb(113, 157, 138);
    width: 50%;
    height: 50vh;
    float: right;

    border-radius: 0vw 2vw 2vw 0vw;
    padding: 7% 3vw 10vh 2vw;
}

input[type="id"] {
    color: rgb(24, 70, 83);
}

/* password input 안 보이는 오류 -> 웹 폰트 지원 X */
input[type="password"] {
    font-family: "Malgun gothic", dotum, sans-serif;
}

/* placeholder로 보여지는 폰트 설정 */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Binggrae-Bold", sans-serif;
    color: #888;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #888;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

/* 닉네임 input */
#nick_input {
    width: 25vw;
}

/* 중복체크 버튼 */
#btn1 {
    background-color: rgb(255, 230, 171);
    color: rgb(24, 70, 83);
    font-size: 1em;

    border: none;

    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 6%;
    margin-bottom: 1.5vh;
}

/* ID input */
#id_inputs {
    width: 25vw;
    font-size: 1.1em;

    margin-bottom: 2.5vh;
}

/* PW input */
#pw_inputs {
    width: 25vw;
    font-size: 1.1em;

    margin-bottom: 2.5vh;
}

/* 회원가입 버튼 */
#btn2 {
    width: 25vw;
    background-color: rgb(255, 230, 171);
    color: rgb(24, 70, 83);
    font-size: 1.1em;

    border: none;
    margin-top: 2.5vh;
}

#btn1:hover,
#btn2:hover {
    background-color: rgb(24, 70, 83);
    color: white;
}

/* 비밀번호와 비밀번호 확인란이 일치하지 않을 경우 */
.confirm-ment {
    font-size: 1.2em;
    color: rgb(255, 240, 204);
}
