.container {
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.container img {
    width: 45rem;
    height: 25rem;
    margin: 0px auto;
}

.slide {
    flex: auto;
    width: 100%;
    align-items: center;
}
