.pass_change {
    height: 100%;
    margin-top: 5rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

/* 비밀번호 변경 */
.account {
    font-size: 1.8em;
    color: rgb(24, 70, 83);
    margin-bottom: 2rem;
}

input[type="id"] {
    color: rgb(24, 70, 83);
}

/* password input 안 보이는 오류 -> 웹 폰트 지원 X */
input[type="password"] {
    font-family: "Malgun gothic", dotum, sans-serif;
}

/* placeholder로 보여지는 폰트 설정 */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Binggrae-Bold", sans-serif;
    color: #888;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #888;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

@media (min-width: 1920px) {
    .pass_change {
        margin-top: 13rem;
    }

    .account {
        font-size: 2em;
    }
}
