.container {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/* n% 진행 중 */
.progress_text {
    position: absolute;
    margin-top: 1rem;
    margin-left: 4rem;

    text-align: left;
    font-size: 1em;
    color: rgb(24, 70, 83);
}

.question_text {
    color: rgb(24, 70, 83);
    font-size: 1.7em;
    text-align: center;

    margin-top: 2.5rem;
}

#image {
    width: 22rem;
    height: 13rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    text-align: center;
}
