.container {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

/* progress bar */
progress {
    width: 30rem;
    height: 1.5rem;
    border: 0;
    border-radius: 10rem 10rem 10rem 10rem;
}

progress::-webkit-progress-bar {
    background-color: rgb(239, 234, 215);
    border: 0;
    border-radius: 10rem 10rem 10rem 10rem;

    margin-top: 2.5rem;
}

progress::-webkit-progress-value {
    background-color: rgb(113, 157, 138);
    border: 0;
    border-radius: 10rem 10rem 10rem 10rem;

    margin-top: 2.5rem;
}

progress::-moz-progress-bar {
    background-color: rgb(255, 230, 171);
    border: 0;
    border-radius: 10rem 10rem 10rem 10rem;

    margin-top: 2.5rem;
}

.question_title {
    width: 100%;
    color: rgb(24, 70, 83);
    font-size: 1.7em;
    text-align: center;

    margin-top: 5rem;
    margin-bottom: 3rem;
}
