.container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-top: 1rem;
}

.test_result {
    text-align: center;
    font-size: 1.8em;
    margin-top: 3rem;
}
