.container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.slide {
    flex: auto;
    width: 100%;
    height: 50%;
    align-items: center;
    margin-top: 3rem;
}

/* 원하는 테스트를 골라 시작해보세요! */
.text {
    width: 100%;
    font-size: 1.5em;
    color: rgb(24, 70, 83);
    text-align: center;

    margin-top: 6rem;
}

/* 각 박스별 질문 타이틀 */
.test_title {
    display: none;
    font-size: 1.15em;
    text-align: center;
    color: rgb(24, 70, 83);
    margin-top: 6rem;
}

.container .box1:hover .test_title,
.container .box2:hover .test_title {
    display: block;
}

.container .box1,
.container .box2 {
    width: 20rem;
    height: 15rem;
    background-color: black;

    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    cursor: pointer;
}

.container .box1:hover,
.container .box2:hover {
    background-color: rgba(255, 215, 121, 0.5);
}

.container .box2:nth-child(13),
.container .box2:nth-child(14) {
    background-color: white;
    margin-bottom: 4rem;
}

.container .box3 {
    width: 20rem;
    height: 15rem;
    background-color: white;

    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* 더보기 버튼 */
.more_btn {
    background-color: rgb(255, 230, 171);
    color: rgb(24, 70, 83);
    font-size: 1.1em;
    padding: 1rem 2.5rem;
    border: none;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* 닫기 버튼 */
.close_btn {
    display: none;
    background-color: rgb(255, 230, 171);
    color: rgb(24, 70, 83);
    font-size: 1.1em;

    padding: 1rem 2.5rem;
    border: none;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.more_btn:hover,
.close_btn:hover {
    background-color: rgb(255, 215, 121);
}

/* .container::webkit-scrollbar {
    width: 10px;
} 
.container::webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    }
.container::webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
} */

@media (min-width: 1920px) {
    .text {
        font-size: 1.7em;
    }

    .container .box1,
    .container .box2,
    .container .box3 {
        width: 21rem;
        height: 15rem;
    }

    .more_btn,
    .close_btn {
        font-size: 1.6em;
        padding: 2rem 3.5rem;
    }

    .test_title {
        font-size: 1.4em;
        margin-top: 6.2rem;
    }
}
