.signup {
    margin-top: 9vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* 회원가입 text */
.join {
    font-size: 1.9em;
    text-align: center;
    letter-spacing: 0.05vw;
    color: rgb(24, 70, 83);

    margin-bottom: 4vh;
}

.mini-logo {
    width: 8vw;
    height: 14vh;
    margin-top: 18vh;
}

.sign_box {
    width: 58vw;
    height: auto;

    border-radius: 2vw 2vw 2vw 2vw;
    border-top: 0.05rem solid rgba(113, 157, 138, 0.5);
    border-left: 0.05rem solid rgba(113, 157, 138, 0.5);
    border-bottom: 0.05rem solid rgba(113, 157, 138, 0.5);
    box-shadow: 1.5rem 1.5rem rgba(113, 157, 138, 0.5);
}

/* 왼쪽에 위치한 박스 */
.left-box-sign {
    background-color: white;
    width: 50%;
    height: auto; /* 50vh -> auto */
    float: left;

    text-align: center;
    border-radius: 2vw 0vw 0vw 2vw;
}

/* 오른쪽에 위치한 박스 */
.right-box-sign {
    background-color: rgb(113, 157, 138);
    width: 50%;
    height: auto; /* 50vh -> auto */
    float: right;

    border-radius: 0vw 2vw 2vw 0vw;
    padding: 7% 3vw 10vh 2vw;
}

input[type="id"] {
    color: rgb(24, 70, 83);
}

/* password input 안 보이는 오류 -> 웹 폰트 지원 X */
input[type="password"] {
    font-family: "Malgun gothic", dotum, sans-serif;
}

/* placeholder로 보여지는 폰트 설정 */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Binggrae-Bold", sans-serif;
    color: #888;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #888;
}

input:focus {
    outline: 1rem solid rgb(255, 230, 171);
}

/* 중복체크 버튼 */
#btn1 {
    background-color: rgb(255, 230, 171);
    color: rgb(24, 70, 83);
    font-size: 1em;

    border: none;

    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 6%;
    margin-bottom: 1.5vh;
}

/* ID input */
#id_inputs {
    font-size: 1.1em;

    margin-bottom: 1.5vh;
}

/* PW input */
#pw_inputs {
    width: 25vw;
    font-size: 1.1em;

    margin-bottom: 2.5vh;
}

/* 회원가입 버튼 */
#btn2 {
    width: 25vw;
    background-color: rgb(255, 230, 171);
    color: rgb(24, 70, 83);
    font-size: 1.1em;

    border: none;
    margin-top: 5vh;
}

#btn1:hover,
#btn2:hover {
    background-color: rgb(24, 70, 83);
    color: white;
}

.confirm-ment-top,
.confirm-ment-middle,
.confirm-ment-bottom {
    font-size: 1.2em;
    color: rgb(255, 240, 204);
}

/* "아이디가 중복되었습니다. 다른 아이디로 가입해주세요!" / "아이디 사용이 가능합니다."*/
.confirm-ment-top {
    margin-bottom: 2.5vh;
}

/* "아이디 중복확인을 다시해주세요." / "비밀번호가 일치하지 않습니다." */
.confirm-ment-middle {
}

/* "아이디 중복확인을 해주세요." / "회원가입 성공!"  */
.confirm-ment-bottom {
    margin-top: 3vh;
}
