/*  header font */
@font-face {
    font-family: "Binggrae-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* context font */
@font-face {
    font-family: "S-CoreDream-3Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream-6Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
/*  */

/* 404 page font */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

/*  loading page */
@import "./pages/Loading/loading.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Binggrae-Bold", sans-serif;
}

html {
    scroll-behavior: smooth;

    /*  페이지 로드 시 fadein */
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

/*  fadein css */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*  */
