.developer_intro {
    /* 세로 scroll bar 제거*/
    overflow-y: hidden;
}

/* 상단 Developer Intro. 문구 */
.developer_intro_text {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 2rem;
}

.developer_intro_text_subtext {
    text-align: center;
    font-weight: lighter;
    font-size: 0.9em;
    color: rgb(82, 82, 82);
}

/* img, text가 들어갈 상자들 */
.container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-top: 1rem;
}

/* member css */
.member {
    float: left;
    width: 18rem;
    height: 25rem;

    background-color: rgb(250, 245, 233);
    border-radius: 40px 40px 40px 40px;
    margin: 1.2rem;
}

.member img {
    width: 100%;
    padding: 1.5rem;
    border-radius: 40px 40px 40px 40px;
}

.member .info {
    width: 100%;
    height: 40%;
    margin-top: 1.5rem;
    text-align: center;
}

.member .info span {
    font-weight: bold;
    font-size: 1em;
    color: black;
}
