.login div {
    /* 세로 scroll bar 제거*/
    overflow-y: hidden;
}

/* 왼쪽 화면 */
.row1 {
    flex: auto;
    margin-top: 3.5rem;
    margin-left: 17rem;
    margin-bottom: 5rem;

    background-color: rgb(255, 255, 255);
    box-shadow: 1.5rem 1.5rem rgba(255, 230, 171, 0.5);

    border-top: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-left: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-bottom: 0.1rem solid rgba(255, 230, 171, 0.5);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;

    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

/* LOGIN */
.text1 {
    margin-top: 3.2rem;
    color: rgb(24, 70, 83);
}

.input {
    width: 70%;
    height: 400px;
}

/* 구글 로그인 버튼 */
.googleLogin {
    display: flex;
    flex: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    size: 10rem;
}

.account {
    color: rgb(231, 194, 108);
}

/* 계정이 없을 경우 - no have account? */
.no_have_account {
    display: none;
    color: rgb(231, 194, 108);
    margin-top: 1.2rem;
}

/* 오른쪽 화면 */
.row2 {
    flex: auto;
    margin-top: 3.5rem;
    margin-right: 17rem;

    background-color: rgb(255, 230, 171);
    box-shadow: 1.5rem 1.5rem rgba(255, 230, 171, 0.5);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;

    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

/* 오른쪽 화면 텍스트 */
.texts {
    color: rgb(24, 70, 83);
    font-size: 1.15em;
    line-height: 1.1rem;

    margin-top: 9rem;
}

@media (max-width: 550px) {
    .row2 {
        display: none;
    }
    .signup {
        margin-top: 10px;
        display: inline;
    }
    .row1 {
        margin-left: 0;
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;
    }
    .col {
        margin-left: 20px;
        margin-right: 20px;
    }
}
